/*
    Archivo: sendMessage.css
    En este archivo se definen los estilos que se usaran a en sendMessage.html
    Historial de cambios:
    26/09/2024 - Creado
    08/10/2024 - Desarrollado
*/
@import url("./common.css");

#main-content {

    h1 {
    
        text-align: center;
    }

    .houses {
        display: flex;
        flex-flow: column-reverse;
        justify-content: center;
        margin: auto;
    }

    a {
        width: fit-content;
    }
}