/*
    Archivo: card.css
    En este archivo se definen los estilos que se usaran 
    en las cards para mostrar los anuncios a lo largo de la web
    Creado por: Pablo Hernández el 25/09/2024
    Historial de cambios:
    25/09/2024 - Creado
*/

.card {
    height: 400px;
    width: 300px;
    display: flex;
    flex-flow: column;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    gap: 5px;

    .mainImg {
        height: 70%;
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
    }

    .title {
        font-size: xx-large;
    }

    .author {
        display: flex;
        flex-flow: row;
        gap: 10px;

        img {
            width: 64px;
            height: 64px;
            background: blue;
        }

        strong {
            margin: auto 0;
            font-size: x-large;
        }
    }

    .info {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        gap: 15px;
        font-size: x-large;
        margin: 20px;
    }
}